html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-light .navbar-nav .nav-link {
  color: #41464b/*rgba(0,0,0,.55)*/;
}