html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  position: relative;
  height: 700px;
  margin-bottom: 60px;
  background: linear-gradient(0deg, rgba(131, 243, 3, 0.343) 16%, rgba(243, 187, 2, 0.459) 98%), url(../img/img2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar-light .navbar-nav .nav-link {
  color: #41464b/*rgba(0,0,0,.55)*/;
}

.div-form{
  width: 50%;
  margin: auto;
  padding: 10px;
  border-radius: 9px;
}