@page
@model CuidadoBovino.FrontEnd.Pages.AgregarBovinoModel
@{
  ViewData["Title"] = "Agregar Bovinos | Cuidado Bovino";
}

<div class="shadow-sm p-3 mb-5 bg-light rounded">
  <h1 class="h1">Para agregar un nuevo bovino rellene todos los campos. <i class="fas fa-hippo"></i></h1>
</div>
<hr>
<div class="div-form bg-light">
  <form class="formNBov m-3">
    <div class="form-group">
      <label asp-for="Bovino.NombreBovino" class="form-label">Nombre del Bovino</label>
      <input asp-for="Bovino.NombreBovino" type="text" class="form-control"  placeholder="Nombre del Bovino">
      <span asp-validation-for="Bovino.NombreBovino" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Bovino.Raza" class="form-label">Raza del Bovino</label>
      <input asp-for="Bovino.Raza" type="text" class="form-control" placeholder="Raza del Bovino">
      <span asp-validation-for="Bovino.Raza" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Bovino.Color" class="form-label">Color del Bovino</label>
      <input asp-for="Bovino.Color" type="text" class="form-control" placeholder="Color del Bovino">
      <span asp-validation-for="Bovino.Color" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Bovino.Edad" class="form-label">Edad del Bovino</label>
      <input asp-for="Bovino.Edad" type="number" class="form-control" placeholder="Edad del Bovino">
      <span asp-validation-for="Bovino.Edad" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Veterinario.Nombre" class="form-label">Veterinario del Bovino</label>
      <input asp-for="Veterinario.Nombre" type="text" class="form-control" placeholder="Veterinario del Bovino">
      <span asp-validation-for="Veterinario.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="HistoriaMedica.FechaVisita" class="form-label">Fecha de Visita</label>
      <input asp-for="HistoriaMedica.FechaVisita" type="date" class="form-control" >
      <span asp-validation-for="HistoriaMedica.FechaVisita" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-3 mb-3"><i class="fas fa-hippo"></i> Guardar</button>
    <a type="button" class="btn btn-secondary mt-3 mb-3" asp-area="" asp-page="/Bovinos/Bovinos"><i
        class="fas fa-ban"></i> Cancelar</a>
  </form>
</div>
