@page
@model CuidadoBovino.FrontEnd.Pages.AgregarBovinoModel
@{
    ViewData["Title"] = "Agregar Bovinos | Cuidado Bovino";
}

<div class="shadow-sm p-3 mb-5 bg-light rounded">
    <h1 class="h1">Para agregar un nuevo bovino rellene todos los campos.  <i class="fas fa-hippo"></i></h1> 
</div>
<hr>
<div class="div-form bg-light">
<form class="formNBov m-3" method="post">
  <div class="form-group">
    <label asp-for="bovino.NombreBovino" class="form-label">Nombre del Bovino</label>
    <input type="text" class="form-control" asp-for="bovino.NombreBovino" placeholder="Nombre del Bovino">
    <span asp-validation-for="bovino.NombreBovino" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="bovino.Raza" class="form-label">Raza del Bovino</label>
    <input type="text" class="form-control" asp-for="bovino.Raza" placeholder="Raza del Bovino">
     <span asp-validation-for="bovino.Raza" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="bovino.Color" class="form-label">Color del Bovino</label>
    <input type="text" class="form-control" asp-for="bovino.Color" placeholder="Color del Bovino">
     <span asp-validation-for="bovino.Color" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="bovino.Edad" class="form-label">Edad del Bovino</label>
    <input type="number" class="form-control" asp-for="bovino.Edad" placeholder="Edad del Bovino">
     <span asp-validation-for="bovino.Edad" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="bovino.IdVeterinario" class="form-label">Veterinario del Bovino</label>
    <input type="number" class="form-control" asp-for="bovino.IdVeterinario" placeholder="Veterinario del Bovino">
     <span asp-validation-for="bovino.IdVeterinario" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="bovino.IdVisita" class="form-label">Fecha de Visita</label>
    <input type="number" class="form-control" asp-for="bovino.IdVisita">
     <span asp-validation-for="bovino.IdVisita" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-success mt-3 mb-3"><i class="fas fa-hippo"></i> Guardar</button>
  <a type="button" class="btn btn-secondary mt-3 mb-3" asp-area="" asp-page="/Bovinos/Bovinos"><i class="fas fa-ban"></i> Cancelar</a>
</form>
</div>

