@page
@model IndexModel
@{
    ViewData["Title"] = "Cuidado Bovino | App";
}
<br><br>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-light bg-light rounded-3">
          <h2>Bienvenidos al Sistema de cuidado Bovino</h2>
          <p>En esta aplicación usted encontrara la inofrmación detallada del estado de sus bovinos, los veterinarios que atienden sus animales, tambien podra llevar el control del estado de salud de los mismos, cuantas veces han requerido atención medica veterinaria, los medicamentos sumistrados y el historial clinico de cada animal.</p>
          <button class="btn btn-primary" asp-page="/Usuario/Login" type="button">Click para Ingresar al Sistema</button>
        </div>
    </div>
</div>