@page
@model CuidadoBovino.FrontEnd.Pages.EditarVetModel
@{
    ViewData["Title"] = "Editar Veterinario | Cuidado Bovino";
}
<div class="shadow-sm p-3 mb-1 bg-light rounded">
    <h2 class="h2 text-center ">Edicion de los datos del Veterinario <i class="fas fa-edit fa-lg"></i></h2>
</div>
<div class="div-form bg-light mb-3">
    <form method="post" class=" bg-light">
        <input type="hidden" asp-for="veterinario.Id"/>
        <div class="form-grup">
            <label asp-for="veterinario.Id"></label>
            <input asp-for="veterinario.Id" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.Id"></span>
        </div>
        <div class="form-grup">
            <label asp-for="veterinario.Nombre"></label>
            <input asp-for="veterinario.Nombre" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.Nombre"></span>
        </div>
        <div class="form-grup">
            <label asp-for="veterinario.TarjProfesional"></label>
            <input asp-for="veterinario.TarjProfesional" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.TarjProfesional"></span>
        </div>
        <div class="form-grup">
            <label asp-for="veterinario.Direccion"></label>
            <input asp-for="veterinario.Direccion" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.Direccion"></span>
        </div>
        <div class="form-grup">
            <label asp-for="veterinario.Delefono"></label>
            <input asp-for="veterinario.Delefono" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.Delefono"></span>
        </div>
        <div class="form-grup">
            <label asp-for="veterinario.Correo"></label>
            <input asp-for="veterinario.Correo" class="form-control">
            <span class="text-danger" asp-validation-for="veterinario.Correo"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Guardar Cambios<i class="fas fa-save fa-lg"></i></button>
    </form>
</div>
