@page
@model CuidadoBovino.FrontEnd.Pages.NotFoundModel
@{
}

<div class="shadow-sm p-3 mb-5 bg-light rounded">
    <h1 class="h1 text-center">Pagina no encontrada <i class="fas fa-frown fa-lg"></i></h1>
    <br>
    <a class="btn btn-primary" asp-page="./Duenos">Regresar al Listado <i class="fas fa-arrow-circle-left fa-lg"></i></a>
</div>